style

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #747474;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #7e7e7e;
    }

    tr, td {
        background-color: #f2f2f2;
    }

    td:hover {
        background-color: #d1d1d1;
    }

#eventos{
    max-width: 250px;
}

.edicao{
    display:none;
    color: #ff0000; 
}

#editar {display:none;}

#atualizar{display:none;}